@model BlogPostDto

@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<form method="post" action="create">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="@Model.Title" for="exampleInputEmail1" class="form-label">Blog Title</label>
        <input type="text" asp-for="@Model.Title" class="form-control" aria-describedby="emailHelp">
        <span class="text text-danger" asp-validation-for="@Model.Title"></span>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Description" for="exampleInputEmail1" class="form-label">Blog Description</label>
        <input type="text" asp-for="@Model.Description" class="form-control" aria-describedby="emailHelp">
        <span class="text text-danger" asp-validation-for="@Model.Description"></span>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
        <div class="mb-3">
        <label asp-for="@Model.Image" for="exampleInputEmail1" class="form-label">Blog Image</label>
        <input type="text" asp-for="@Model.Image" class="form-control" aria-describedby="emailHelp">
        <span class="text text-danger" asp-validation-for="@Model.Image"></span>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <select asp-for="AuthorId" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        @foreach (var item in ViewBag.Authors)
        {
            <option value="@item.Id">@item.FullName</option>
            
        }
    </select>
    <span class="text text-danger" asp-validation-for="AuthorId"></span>

      <select asp-for="TagsIds" class="form-select" aria-label="Default select example">
        <option selected>Please choose Tags</option>
        @foreach (var item in ViewBag.Tags)
        {
                <option value="@item.Id">@item.Name</option>

        }
    </select>
    <span class="text text-danger" asp-validation-for="TagsIds"></span>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Submit</button>
</form>